<html>
  <body>


    <main class="container-fluid m-2">

      <div class="row">
        <h1>Welcome !</h1>
      </div><br>

      <div class="row">
        <div class="col-md-4 col-sm-5">
          <p>The app takes course information and stores records of courses a student will have for a semester.</p>
        </div>

        <div clas="col-md-4 col-sm-5">
          <p>The app contains the following pages:</p>
          <ul>
            <li>Welcome (Intro) Page</li>
            <li>Add Course</li>
            <li>Update Course</li>
            <li>Course List</li>
            <li>Photo</li>
          </ul>
        </div>


      </div>

      <div class="row">

        <div class="col-md-4 col-sm-5">
          <p><b>Group Members:</b></p>

          <ol>
            <li>Mohammad Sadeq Khandakar</li>
            <p>ID: 8735892</p>
            <li>Yeasin Islam</li>
            <p>ID: 8723947</p>
          </ol>
        </div>
      </div>



    </main>



  </body>

</html>
