

<body>
  <main class="container-fluid m-2">

    <div class="row">
      <h1>Conestoga Camera</h1>
    </div><br>

    <div class="row">
      <form class="mb-5">
        <label for="instructorName">Instructor Name:</label>
        <input type="text" name="instrcutorName" id="instructorName" class="form-control"
        [(ngModel)]="instructor.instructorName">

        <label for="imgSnap">Image:</label><br>
        <img id="imgSnap" name="imgSnap" src="" width="100%" alt="photo" class="img-fluid"
        [(ngModel)]="instructor.image">
      </form>

      <button class="btn btn-secondary" id="btnEnter" (click)="btnEnter_click()">Enter Instructor</button>

    </div>

    <div class="row">

      <div class="btn-group-vertical p-3">
        <button class="btn btn-primary" id="btnCapturePhoto" (click)="btnCapturePhoto_click()">Capture Photo</button>

        <button class="btn btn-info" id="btnCapturePhotoEdit" (click)="btnCapturePhotoEdit_click()">Capture Editable Photo</button>

        <button class="btn btn-warning" id="btnLoadFromLibrary" (click)="btnLoadFromLibrary_click()">Load From Photo Library</button>

      </div>

    </div>

  </main>
</body>






