

<body>
  <main class="container-fluid m-2">

    <div class="row">
      <h1>Conestoga Camera</h1>
    </div><br>

    <div class="row">
      <img id="imgSnap" name="imgSnap" src="" width="100%" alt="photo" class="img-fluid"><br>
    </div>

    <div class="row">

      <div class="btn-group-vertical p-3">
        <button class="btn btn-primary" id="btnCapturePhoto" (click)="btnCapturePhoto_click()">Capture Photo</button>

        <button class="btn btn-info" id="btnCapturePhotoEdit" (click)="btnCapturePhotoEdit_click()">Capture Editable Photo</button>

        <button class="btn btn-warning" id="btnLoadFromLibrary" (click)="btnLoadFromLibrary_click()">Load From Photo Library</button>

      </div>

    </div>

  </main>
</body>






