<script src="modify-course.component.ts"></script>
<script src="modify-course.component.css"></script>

<div class="card-body">

  <fieldset>
    <form class="mb-5"><b><h2>Enter Course Information:</h2></b>
      <br><br>
      <form id="CourseInformation">
        <br>
        <div class="mb-3">
          <label for="name" class="form-label">Course Name:</label>
          <input type="text" id="name" name="name"
                 class="form-control"
                 [(ngModel)]="course.courseName"
                 #courseName="ngModel"
                 required>

          <div *ngIf="courseName.invalid && (courseName.dirty || courseName.touched)">
            <small *ngIf="courseName.errors['required']" class="text-danger">
              Course Name is required!
            </small>
          </div>
        </div>
        <br><br>

        <div class="mb-3">
          <label for="code" class="form-label">Course Code:</label>
          <input type="text" id="code" name="code"
                 placeholder="ABCD1234"
                 class="form-control"
                 [(ngModel)]="course.courseCode"
                 #code = "ngModel"
                 required
                 pattern="^[a-z|A-Z]{4}\d{4}$">

          <div *ngIf="code.invalid && (code.dirty || code.touched)">

            <small *ngIf="code.errors['required']" class="text-danger">
              Course Code is required!
            </small>

            <small *ngIf="code.errors['pattern']" class="text-danger">
              Course Code must match placeholder format!
            </small>
          </div>

        </div>
        <br><br>

        <div class="mb-3">
          <label for="type"></label>

          <select class="form-select form-select-sm" id="type" name="type" [(ngModel)]="course.delivery">
            <option *ngFor="let t of types" value="{{t.typeId}}" >{{t.courseDelivery}}
            </option>
          </select>
        </div>

        <div class="mb-3">
          <label for="roomNumber" class="form-label">Room Number:</label>
          <input type="text" id="roomNumber" name="roomNumber"
                 placeholder="1P87"
                 class="form-control"
                 [(ngModel)]="course.room"
                 #room = "ngModel"
                 required
                 pattern= "^\d[a-z|A-Z]\d{2}$"
          >

          <div *ngIf="room.invalid && (room.dirty || room.touched)">

            <small *ngIf="room.errors['required']" class="text-danger">
              Room Number is required!
            </small>

            <small *ngIf="room.errors['pattern']" class="text-danger">
              Room Number must match format!
            </small>
          </div>

        </div>
        <br><br>
        <div class="mb-3">
          <label for="teach" class="form-label">Instructor:</label>
          <input type="text" id="teach" name="teach"
                 class="form-control"
                 [(ngModel)]="course.instructor"
                 #teacher = "ngModel"
                 required
          >

          <div *ngIf="teacher.invalid && (teacher.touched || teacher.dirty)">

            <small *ngIf="teacher.errors['required']" class="text-danger">
              Course Instructor is required!
            </small>
          </div>

        </div>
        <br><br>
      </form>
    </form>

  </fieldset>
  <br>
  <button type="button" id="btnAdd" name="btnAdd"
          class="btn btn-dark"
          (click)="UpdateCourseBtn_click()"
  >
    Update Course
  </button>

</div>
